# Configuration file

general {
    B:allowHand=false
    S:breakBlacklist <
     >
    S:breakWhitelist <
        thebetweenlands:octine_ore
        thebetweenlands:valonite_ore
        thebetweenlands:sulfur_ore
        thebetweenlands:slimy_bone_ore
        thebetweenlands:scabyst_ore
        thebetweenlands:syrmorite_ore
        thebetweenlands:aqua_middle_gem_ore
        thebetweenlands:crimson_middle_gem_ore
        thebetweenlands:green_middle_gem_ore
        rustic:log
        thebetweenlands:log_weedwood
        thebetweenlands:weedwood
        thebetweenlands:log_rotten_bark
        thebetweenlands:log_rubber
        thebetweenlands:log_hearthgrove
        thebetweenlands:log_nibbletwig
        thebetweenlands:log_spirit_tree
        thebetweenlands:log_sap
        thebetweenlands:cragrock
        thebetweenlands:pitstone
        thebetweenlands:limestone
        thebetweenlands:betweenstone
     >

    # 0 - Drop at position where mined block was
    # 1 - drop at player position
    # 2 - place directly in inventory
    # Min: 0
    # Max: 2
    I:dropItems=0

    # Min: 0.0
    # Max: 1000.0
    D:exhaustionPerBlock=4.0

    # Min: 1
    # Max: 512
    I:maxBlocks=16
    B:mergeStone=true

    # Required for some modpacks
    I:renderTextManually=-1
    S:toolBlacklist <
     >
    S:twerkBlacklist <
        minecraft:grass
        minecraft:tallgrass
     >

    # Min: 0.0
    # Max: 1.0
    D:twerkChance=0.0
    B:twerkPlants=false

    # Min: 1
    # Max: 20
    I:twerkRadius=4
    S:twerkWhitelist <
     >
}


